body{
    margin: 0;
    padding: 0;
background: linear-gradient(135deg, #0f3443, #34e89e);
height: 100vh;
background-attachment: fixed;
}


.main-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  /* background: #080a0d; */
  color: white;
}